.app {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding-top: 10px;
  max-width: 640px;
  min-height: 100vh;
  max-height: 100vh;
}

@media (min-height: 1024px) {
  .app {
    padding-top: 3rem;
  }
}

.app__reset-icon {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 0 0.8rem 1rem 0;
}

.app__title {
  padding: 0;
  margin: 0;
  margin-top: -1rem;
}

@media (orientation: landscape) {
  .app__title {
    margin-top: -2.9rem;
  }
}

@media (orientation: landscape) and (min-width: 1024px) {
  .app__title {
    margin-top: 2rem;
  }
}

.end-time-container {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  margin-top: 5rem;
  width: 100%;
  min-height: 32vh;
}

.list {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  margin: 20px auto;
  width: 70%;
  height: 32vh;
  max-height: 32vh;
}

@media (orientation: landscape) {
  .list {
    height: 21vh;
    max-height: 21vh;
    margin-top: 0;
  }
}

@media (orientation: landscape) and (min-width: 1024px) {
  .list {
    height: 31vh;
    max-height: 31vh;
    margin-top: 0.5rem;
  }
}

@media (min-height: 1024px) {
  .list {
    height: 34vh;
    max-height: 34vh;
  }
}

.counter {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  margin-top: 1rem;
}

.app {
  background-color: rgba(230, 176, 14, 0.14);
}

.app__reset-icon {
  font-size: 1.9rem;
  color: #E6420E;
  cursor: pointer;
}

.app__title {
  font-family: "Saira", sans-serif;
  font-size: 1.8rem;
  color: #D97F18;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.end-time-container {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.end-time-container__title {
  margin: 0 0;
  margin-top: 2rem;
  width: 100%;
  text-align: center;
  font-family: "Saira Condensed", sans-serif;
  font-size: 1.1em;
  color: #D97F18;
  font-weight: 300;
}

@media (orientation: landscape) {
  .end-time-container__title {
    margin-top: 0;
  }
}

@media (orientation: landscape) and (min-width: 1024px) {
  .end-time-container__title {
    margin-top: 2rem;
  }
}

.list {
  list-style: none;
  overflow: scroll;
  overflow-x: hidden;
  color: #E6420E;
  text-align: center;
}

.list::-webkit-scrollbar {
  width: 6px;
  height: 100%;
  border-radius: 8px;
  background-color: rgba(249, 218, 125, 0.5);
}

.list::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #F3C186;
}

.list__list-item {
  font-family: "Saira Condensed", sans-serif;
  font-size: 1.6em;
  line-height: 1.5em;
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 0;
}

.list__list-item--active {
  opacity: 1;
}

.list__list-item:nth-child(even) {
  color: #5002D9;
}

.counter {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  text-align: center;
}

.counter__title {
  padding: 0;
  margin-top: 2rem;
  font-family: "Saira Condensed", sans-serif;
  font-size: 1.1em;
  color: #D97F18;
  font-weight: 300;
}

@media (orientation: landscape) {
  .counter__title {
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media (min-height: 1024px) {
  .counter__title {
    margin-top: 6rem;
  }
}

.start-time {
  margin-top: 0.5rem;
  font-family: "Saira Condensed", sans-serif;
  font-size: 1em;
  color: #5002D9;
  font-weight: 300;
  opacity: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

.start-time--active {
  opacity: 1;
}

@media (min-height: 1024px) {
  .start-time {
    margin-top: 3rem;
  }
}

.clock {
  margin-top: 1.5rem;
  font-family: "Saira Condensed", sans-serif;
  font-size: 1.6em;
  color: #E6420E;
  font-weight: 400;
}

@media (orientation: landscape) {
  .clock {
    margin-top: 0;
  }
}

@media (orientation: landscape) and (min-width: 1024px) {
  .clock {
    margin-top: 1rem;
  }
}

@media (min-height: 1024px) {
  .clock {
    margin-top: 4.5rem;
  }
}

.clock__start-button {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  padding: 0 15px;
  border-radius: 20px;
  background-color: #F3C186;
  cursor: pointer;
  font-family: "Saira", sans-serif;
  font-size: 1.6em;
  color: #D97F18;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.5em;
  border: 2px solid #D97F18;
}

@media (orientation: landscape) {
  .clock__start-button {
    margin-top: 0.2rem;
  }
}

@media (orientation: landscape) and (min-width: 1024px) {
  .clock__start-button {
    margin-top: 2rem;
  }
}

@media (min-height: 1024px) {
  .clock__start-button {
    margin-top: 2rem;
  }
}
/*# sourceMappingURL=style.css.map */