 .app {
     @include reset;
     @include flex-box(column, null, center);
     @include centering();
     padding-top: 10px;
     max-width: 1280px;
     min-height: 100vh;
     max-height: 100vh;

     &__reset-icon {

         align-self: flex-end;
         margin: 0 0.8rem 1rem 0;
     }

     &__title {
         padding: 0;
         margin: 0;
         margin-top: -1rem;
     }



 }

 .end-time-container {
     @include reset;
     margin-top: 5rem;
     width: 100%;
     min-height: 32vh;
 }

 .list {
     @include reset;
     @include centering(20px);
     width: 70%;
     height: 32vh;
     max-height: 32vh;
 }

 .counter {
     @include reset;
     margin-top: 2rem;
     flex-basis: 30vh;
 }