@mixin reset {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}

@mixin centering ($top: 0, $bottom:$top) {

    margin: $top auto;

}

@mixin flex-box($direction: row, $content-justify: stretch, $items-align:stretch) {



    display: flex;
    flex-direction: $direction;
    justify-content: $content-justify;
    align-items: $items-align;
}

@mixin text-style ($family, $size, $color, $weight, $transform, $letter-spacing) {


    font-family: $family;
    font-size: $size;
    color: $color;
    font-weight: $weight;
    text-transform: $transform;
    letter-spacing: $letter-spacing;

}