@mixin centering ($top: 0, $bottom:$top) {

    margin: $top auto;

}

@mixin flex-box($direction: row, $content-justify: stretch, $items-align:stretch) {



    display: flex;
    flex-direction: $direction;
    justify-content: $content-justify;
    align-items: $items-align;
}

@mixin text-style () {}