$main-bacground-color : #e6b00e;
$light-red-font-color :#E6420E;
$light-orange-font-color:#D97F18;
$blue-font-color:#5002D9;
$buttons-color: #F3C186;
$main-font: 'Saira',
sans-serif;
$main-font-condensed:'Saira Condensed',
sans-serif;