* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    max-width: 1280px;

    background-color: rgba(230, 176, 14, 14%);

}




.app__reset-icon {
    position: absolute;
    top: 1%;
    right: 4%;


    color: #E6420E;
    cursor: pointer;
    font-size: 35px;
}



.app__title {
    display: block;
    width: 100%;
    margin: 6vh auto;
    font-family: 'Saira', sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.8em;
    letter-spacing: 2px;
    color: #D97F18;
    font-weight: 400;
}

.end-time-container__title {
    display: block;
    width: 100%;
    margin: 6vh auto 0;
    font-family: 'Saira Condensed', sans-serif;
    text-align: center;
    font-size: 1.1em;
    color: #D97F18;
    font-weight: 300;
}

.list {

    display: block;
    width: 100%;
    max-height: 32vh;
    margin: 0 auto;
    text-align: left;
    color: #E6420E;
    list-style: none;

    overflow: scroll;
    overflow-x: hidden;


}

.list::-webkit-scrollbar {
    width: 6px;
    height: 100%;
    border-radius: 8px;
    background-color: rgba(249, 218, 125, 50%);
}

.list-::-webkit-scrollbar-thumb {

    border-radius: 8px;
    background-color: #F3C186;


}



.list__list-item:nth-child(even) {
    color: #5002D9;
}


.list__list-item {
    margin-bottom: 5px;
    line-height: 1.2em;
    font-size: 1.6em;
    transition: 1s;
    text-align: center;
    font-family: 'Saira Condensed', sans-serif;
    opacity: 0;
    /* potrzebujemy tutaj koniecznie animacji  w tym celu trzeba podziałać z transition*/
}

.list__list-item--active {


    opacity: 1;


}


.end-time-container__list-container {
    margin: 20px auto;
    height: 32vh;
    max-height: 32vh;
    width: 50%;


}











.counter__title {
    margin: 5vh auto 0;
    font-family: 'Saira Condensed', sans-serif;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 1.1em;
    color: #D97F18;
    font-weight: 300;
}

.start-time {
    font-size: 1em;
    margin-top: 1.5vh;
    text-align: center;
    color: #5002D9;
    font-family: 'Saira Condensed', sans-serif;
    opacity: 0;
    transition: .3s;

}

.start-time--active {

    opacity: 1;


}

.clock {
    margin-top: 3vh;
    text-align: center;
    font-size: 1.6em;
    font-family: 'Saira Condensed', sans-serif;
    color: #E6420E;
}

.clock__start-button {
    display: block;
    margin: 3vh auto;
    padding: 0 15px;
    border-radius: 20px;
    font-size: 1.6em;
    line-height: 1.5em;
    background-color: #F3C186;
    border: 2px solid #D97F18;
    text-transform: uppercase;
    font-family: 'Saira', sans-serif;
    letter-spacing: 1px;
    color: #D97F18;
    cursor: pointer;



}